body {
    /* ibm-plex-mono-100 - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 100;
        src: url('fonts/ibm-plex-mono-v20-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-100italic - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: italic;
        font-weight: 100;
        src: url('fonts/ibm-plex-mono-v20-latin-100italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-200 - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 200;
        src: url('fonts/ibm-plex-mono-v20-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-200italic - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: italic;
        font-weight: 200;
        src: url('fonts/ibm-plex-mono-v20-latin-200italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-300 - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 300;
        src: url('fonts/ibm-plex-mono-v20-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-300italic - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: italic;
        font-weight: 300;
        src: url('fonts/ibm-plex-mono-v20-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-regular - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 400;
        src: url('fonts/ibm-plex-mono-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-italic - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: italic;
        font-weight: 400;
        src: url('fonts/ibm-plex-mono-v20-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-500 - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 500;
        src: url('fonts/ibm-plex-mono-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-500italic - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: italic;
        font-weight: 500;
        src: url('fonts/ibm-plex-mono-v20-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-600 - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 600;
        src: url('fonts/ibm-plex-mono-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-600italic - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: italic;
        font-weight: 600;
        src: url('fonts/ibm-plex-mono-v20-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-700 - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 700;
        src: url('fonts/ibm-plex-mono-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-700italic - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: italic;
        font-weight: 700;
        src: url('fonts/ibm-plex-mono-v20-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    margin: 0;
    text-align: center;
    background-color: #fcf7ff;
    font-family: "IBM Plex Mono";
}
/*
#Homebtn {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: auto;
    border-radius: 0 20px 20px;
}

#Homebtn:hover {
    background-color: #558;
}
*/
.Top {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    color: rgb(255, 255, 255);
    background:#ff0000;
}

.Navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.Navbar li {
    display: block;
    width: 25%;
    padding: 12px 0;
}

.Navbar li a {
    display: block;
    font-weight: 700;
    margin: 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.Navbar li:hover {
    background-color: #cc0000;
    transition: 0.3s;
}

.Contents {
    margin: 150px 50px;
}

.banner {
    background-image: url("https://4vector.com/i/free-vector-beautiful-christmas-banner-banner-vector_026126_christmas_banners.jpg");
    background-size: cover;
    color: #ffffff;
}

section {
    display: flex;
    padding: 25px;
    margin: 25px;
    border-radius: 25px;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    box-shadow: 25px 25px 50px #0000002d;
    justify-content: space-between;
}

footer {
    margin: 25px;
    height: 10vh;
}

.left {
    width: 50%;
    float: left;
}
.right {
    float: right;
    position: relative;
    text-align: center;
    color: white;
}

.right h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right img {
    height: 50vh;
    float: right;
    border-radius: 25px;
    border-radius: 25px;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    box-shadow: 25px 25px 50px #0000002d;
}

.right:hover {
    color: black;
    transition: 0.3s;

}
.right img:hover {
    opacity: 50%;
    transition: 0.3s;
}

.gallery-item {
    width: 250px;
    height: 300px;
    border-radius: 25px;
    display: inline-block;
    margin: 5px;
}

.gallery-item img {
    width: 250px;
    height: auto;
    border-radius: 25px;
    box-shadow: 25px 25px 50px #0000002d;
}

.gallery-item img:hover {
    opacity: 50%;
    transition: 0.3s;
}

.gallery-item:hover {
    color: black;
    transition: 0.3s;
}

.dropbtn {
    display: flex;
    background-color: #ff0000;
}

@media screen and (max-device-width: 700px) {
    /* Code in here only applies to screens equal or less than 500 pixels wide */
    section {
        margin: auto;
    };
    h1 {
        font-size: 18px;
    }
    .Navbar li {
        display: none;
        margin: 0 auto;
        height: 0px;
        background-color: #ff0000;
    }
    .dropbtn {
        display: block;
        margin: 0 auto;
        justify-content: center;
        height: 50px;
    }
    .dropbtn:hover .Navbar li, .Navbar, .dropbtn {
        display: block;
        width: 100%;
        height: auto;
    }
    .dropbtn:hover {
        background-color: #cc0000;
        transition: 0.3s;
    }
  }