body {
    /* ibm-plex-mono-100 - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 100;
        src: url('fonts/ibm-plex-mono-v20-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-100italic - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: italic;
        font-weight: 100;
        src: url('fonts/ibm-plex-mono-v20-latin-100italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-200 - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 200;
        src: url('fonts/ibm-plex-mono-v20-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-200italic - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: italic;
        font-weight: 200;
        src: url('fonts/ibm-plex-mono-v20-latin-200italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-300 - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 300;
        src: url('fonts/ibm-plex-mono-v20-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-300italic - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: italic;
        font-weight: 300;
        src: url('fonts/ibm-plex-mono-v20-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-regular - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 400;
        src: url('fonts/ibm-plex-mono-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-italic - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: italic;
        font-weight: 400;
        src: url('fonts/ibm-plex-mono-v20-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-500 - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 500;
        src: url('fonts/ibm-plex-mono-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-500italic - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: italic;
        font-weight: 500;
        src: url('fonts/ibm-plex-mono-v20-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-600 - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 600;
        src: url('fonts/ibm-plex-mono-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-600italic - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: italic;
        font-weight: 600;
        src: url('fonts/ibm-plex-mono-v20-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-700 - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 700;
        src: url('fonts/ibm-plex-mono-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* ibm-plex-mono-700italic - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'IBM Plex Mono';
        font-style: italic;
        font-weight: 700;
        src: url('fonts/ibm-plex-mono-v20-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    margin: 0;
    text-align: center;
    background-color: #338;
    font-family: "IBM Plex Mono";
}
/*
#Homebtn {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: auto;
    border-radius: 0 20px 20px;
}

#Homebtn:hover {
    background-color: #558;
}
*/
.Top {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    color: white;
    background-color: #338;
    border-style: solid;
    border-width: 0 0 4px 0;
    border-color: #558;
}

.Navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.Navbar li {
    display: block;
    width: 25%;
    padding: 12px 0;
}

.Navbar li a {
    display: block;
    margin: 0;
    text-decoration: none;
    color: aliceblue;
}

.Navbar li:hover {
    background-color: #558;
}

.Contents {
    margin: 150px 50px;
}

section {
    min-height: 50vh;
    padding: 25px;
    margin: 25px;
    border-radius: 25px;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    box-shadow: 25px 25px 50px #0000002d;
}

footer {
    margin: 25px;
    height: 10vh;
}

.left {
    width: 50%;
    float: left;
}
.right {
    width: 50%;
    float: right;
}

.right h1 {
    position: relative;
    right: 0;
    top: 0;
}

.right img {
    height: 50vh;
    float: right;
    border-radius: 25px;
    background-color: #558;
    border-style: solid;
    border-width: 5px;
    border-color: #558;
}

.right img:hover {
    opacity: 50%;
}

@media screen and (max-device-width: 700px) {
    /* Code in here only applies to screens equal or less than 500 pixels wide */
    section {
        margin: auto;
    };
    h1 {
        font-size: 18px;
    }
  }